<style>
/*PopUp Start*/
#wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
  }
  #wrapper main {
    margin: auto;
    text-align: center;
  }
  
  /*button {
    margin-top: 10rem;
    padding: 0.5em 1em;
    background-color: #121212;
    border: 2px solid #eee;
    font-size: 1.5rem;
    color: inherit;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 13px 27px -5px, rgba(0, 0, 0, 0.7) 0px 8px 16px -8px;
    transition: background-color 0.3s ease-in-out;
  }
  button:hover {
    background-color: #000;
  }
  button:active {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 20px -5px, rgba(0, 0, 0, 0.7) 0px 8px 16px -8px;
  }*/
  
  .page-content {
    max-width: 30rem;
    margin: 10rem auto 0;
    color: #ddd;
    text-align: left;
  }
  
  .form {
    position: fixed;
    width: 100%;
    max-width: 30rem;
    padding: 2rem;
    border-radius: 10px;
    background: linear-gradient(to bottom, #3e7417, #3d632b, #2a3e24);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 13px 27px -5px, rgba(0, 0, 0, 0.7) 0px 8px 16px -8px;
    color: #eee;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
  }
  .popup--show .form {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }
  .form h2 {
    text-align: center;
  }
  
  .popup {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden auto;
  }
  .popup--show {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
  .popup__inner {
    width: inherit;
    height: inherit;
  }
  .popup__container {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    min-height: 85%;
  }
  .popup__content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .popup__close {
    text-align: right;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  .popup-close {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
  }
  .popup-close:hover {
    opacity: 1;
  }
  
  .popup-active {
    overflow: hidden;
  }
  @media (any-hover: hover) {
    .popup-active {
      padding-right: var(--scroll-width);
    }
  }
</style>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="../../static/assets/img/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../../static/assets/img/apple-icon.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js" integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg==" crossorigin="anonymous"></script>
    <title>EmpowerEase | Western Mindanao State University</title>
  </head>
  <body class="text-gray-800 antialiased">
    <nav
      class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 "
    >
      <div
        class="container px-4 mx-auto flex flex-wrap items-center justify-between"
      >
        <div
          class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
        >
          <a
            class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
            href="#"
            >Employability Management System | WMSU</a
          ><button
            class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
            type="button"
            onclick="toggleNavbar('example-collapse-navbar')"
          >
            <i class="text-white fas fa-bars"></i>
          </button>
        </div>
        <div
          class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden"
          id="example-collapse-navbar"
        >
          <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
            <li class="flex items-center">
              <button
                class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 mt-3"
                type="button"
                style="transition: all 0.15s ease 0s;"
                data-popup-open="popupID"
              >
              <i class="fas fa-sign-in-alt"> </i> Sign In

              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div
        class="relative pt-16 pb-32 flex content-center items-center justify-center"
        style="min-height: 75vh;"
      >
        <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style="background-image: url(../../static/assets/img/dep_building.jpg); background-size: 100%; background-repeat: no-repeat; object-fit: contain;"
        >
          <span
            id="blackOverlay"
            class="w-full h-full absolute opacity-75 bg-black"
          ></span>
        </div>
        <div class="container relative mx-auto">
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
              <div class="mx-auto">
                <h1 class="text-white font-semibold text-5xl title">
                  
                </h1>
                <p class="text-lg text-gray-300 text">
                    <!-- The proposed system aims to predict the employability of future graduates of the College of Computing Studies based on their grades from 1st year 
                    to 3rd year college, through the use of the proposed system, the student will have a knowledge in which subject they should improve more as it also has a recommendation
                    in which subjects you need to enhance to meet the job market of the IT industry. -->
                    <!-- Streamlining Employability for the Future Workforce -->
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
          style="height: 70px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-gray-300 fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </div>
      <section class="pb-20 bg-gray-300 -mt-24">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap">
            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-6 text-center">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
                  >
                    <i class="fas fa-gift"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Our Aim</h6>
                  <p class="mt-2 mb-4 text-gray-600 text-justify">
                    EmpowerEase: aims to predict employability and recommend area for improvement for future graduates of College of Computing Studies based on their grades from 1st year 
                    to 3rd year college, through the use of the proposed system.
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-4/12 px-4 text-center">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
                  >
                    <i class="fab fa-hubspot"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Prediction Accuracy up to 87%</h6>
                  <p class="mt-2 mb-4 text-gray-600 text-justify">
                    <!-- Recent advancements in AI and machine learning have allowed for the development of 
                    highly accurate employability prediction models, with an accuracy rate of up to 80%. 
                    This means that our models are able to correctly predict employment outcomes, 
                    providing valuable insights and guidance for the future graduates of College of Computing Studies. -->
                    Recent advancements in AI and machine learning have allowed for the development of highly accurate 
                    employability prediction models, with an accuracy rate of up to 87%. This means that these models 
                    are able to correctly predict employment outcomes for 87% of individuals, providing valuable insights 
                    and guidance for the future graduates of College of Computing Studies.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-6 text-center">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto mb-12">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400"
                  >
                    <i class="fas fa-handshake"></i>
                  </div>
                  <h6 class="text-xl font-semibold">User Friendly</h6>
                  <p class="mt-2 mb-4 text-gray-600 text-justify">
                    EmpowerEase: prioritize simplicity and intuitive navigation, allowing users to accomplish their desired tasks without confusion or frustration.
                    <!-- The student will have a knowledge in which subject they should improve more as it also has a recommendation
                    in which area should need to enhance to meet the job market of the IT industry. -->
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap items-center mt-32">
            <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
              <div
                class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
              >
                <i class="fas fa-user-friends text-xl"></i>
              </div>
              <h3 class="text-3xl mb-2 font-semibold leading-normal">
                Your participation is deeply appreciated!
              </h3>
              <p
                class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
              >
                College of Computing Studies review the students predictions to come up with an insights to the currently 
                proposed learning program.
              </p>
              <p
                class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700"
              >
                Enabling the faculty of College of Computing Studies to promote a better and robust learning program for the 
                IT / CS students.
              </p>
              <a
                href="#"
                class="font-bold text-gray-800 mt-8"
                data-popup-open="popupID"
                >Predict Now!</a
              >
            </div>
            <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-green-500"
              >
                <img
                  alt="..."
                  src="../../static/assets/img/dep_building.jpg"
                  class="w-full align-middle rounded-t-lg"
                />
                <blockquote class="relative p-8 mb-4">
                  <svg
                    preserveAspectRatio="none"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 583 95"
                    class="absolute left-0 w-full block"
                    style="height: 95px; top: -94px;"
                  >
                    <polygon
                      points="-30,95 583,95 583,65"
                      class="text-green-500 fill-current"
                    ></polygon>
                  </svg>
                  <h4 class="text-xl font-bold text-white">
                    Data Privacy Protection
                  </h4>
                  <p class="text-md font-light mt-2 text-white">
                    The Data that will be collected and generated upon prediction will be concealed from the
                    public
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="popup" id="popupID">
        <div class="popup__inner">
          <div class="popup__container">
            <!-- <div style="position: relative; right: 520px; top: 140px; z-index: 1" class="popup__close popup-close" data-popup-close>
              <div class="svg-icon">&#10006;</div>
            </div> -->
            <div class="popup__content">
              <!-- your content -->
              <!-- <div>
                <center>
                  <img style="position: relative; width: 150px; height: auto; z-index: 1; left: 250px; bottom: 115px"src="https://i.ibb.co/hVNnnCf/312968052-2476337182505210-5876316929227327673-n.png" alt="278471092-1030717754212581-5567044845078025126-n-removebg-preview" border="0"></center>
              </div> -->
              <div class="pt-6 w-full md:w-4/12 px-4 text-center">
                <div
                  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
                >
                  <div class="px-4 py-5 flex-auto">
                    
                    <div class="text-white text-center inline-flex items-center justify-center w-30 h-30 shadow-lg rounded-full">
                    <!-- <i class="fas fa-award"></i> -->
                      <img
                        alt="..."
                        src="/static/images/favicon.ico"
                        class="align-middle rounded-t-lg absolute pb-40"
                        style="width: 160px; height:auto"
                      />
                    </div>
                    <h6 class="text-xl font-semibold mb-5">Which program are you currently enrolled?</h6>
                    <button
                    class="bg-gray-300 text-black active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                    type="button"
                    style="transition: all 0.15s ease 0s;"
                    data-popup-open="popupID"
                    onclick="window.location='/login_register_CS'"
                    >
                    Computer Science
                    </button>
                    <button
                    class="bg-green-500 text-black active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                    type="button"
                    style="transition: all 0.15s ease 0s;"
                    data-popup-open="popupID"
                    onclick="window.location='/login_register_IT'"
                    >
                    Information Technology
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>

    </main>
  </body>
  <script>
    var typing=new Typed(".text", {
        strings: ["Streamlining Employability for the Future Workforce", "Streamlining Employability for the Future Workforce"],
        typeSpeed: 100,
        backSpeed: 40,
        loop: true,
    });
    var typingTitle=new Typed(".title", {
      strings: ["EmpowerEase","EmpowerEase"],
      typeSpeed: 100,
      backSpeed: 40,
      loop: false,
  });
 </script>
  <script>
    function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle("hidden");
      document.getElementById(collapseID).classList.toggle("block");
    }
    class Popup {
        classPopupShow =  'popup--show';
        classForBody = 'popup-active';
        popup = null;
        closeOnClickOverlay = false;
    
        constructor(options = {}) {
    
            this.closeOnClickOverlay = options?.closeOnClickOverlay || false;
        
            // check if page has vertical scroll
            this.scrollWidthInit();
    
            document.addEventListener('click', e => {
            
            // open
            if (e.target.dataset.popupOpen) {
                e.preventDefault();
                this.popup = document.getElementById(e.target.dataset.popupOpen);
                this.show();
            }
    
            // close
            if (e.target.hasAttribute('data-popup-close') ||
                (e.target.closest('.popup__close') && e.target.closest('.popup__close').hasAttribute('data-popup-close')) ||
                (this.closeOnClickOverlay && e.target.classList.contains('popup__content'))
            ){
                e.preventDefault();
                this.hide();
            }
            })
        }
    
        scrollWidthInit() {
    
            function existVerticalScroll() {
            let vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0),
                sh =  document.body.scrollHeight;
    
            return sh > vh ? true : false;
            }
    
            let div = document.createElement('div');
        
            div.style.overflowY = 'scroll';
            div.style.width = '50px';
            div.style.height = '50px';
        
            document.body.append(div);
        
            let scrollWidth = div.offsetWidth - div.clientWidth;
        
            div.remove();
    
            if (existVerticalScroll()) {
            document.documentElement.style.setProperty('--scroll-width', scrollWidth + 'px');
            }
        }
    
        show() {
            
            if (this.popup) {
            this.popup.classList.add(this.classPopupShow);
            }
    
            document.body.classList.add(this.classForBody);
        }
    
        hide() {
    
            if (this.popup) {
            this.popup.classList.remove(this.classPopupShow);
            }
    
            document.body.classList.remove(this.classForBody);
        }
        }
    
        new Popup({
        closeOnClickOverlay: true, // if you want popup to be closed after click on overlay (default: false)
        });
  </script>
</html>
