<style>
/*PopUp Start*/
#wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  z-index: 1;
  min-height: 100vh;
}
#wrapper main {
  margin: auto;
  text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
.notification-drop {
    color: #444;
}
.notification-drop .item {
    padding: 10px;
    font-size: 18px;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.notification-drop .item:hover {
    cursor: pointer;
}
.notification-drop .item i {
    margin-left: 10px;
}
.notification-drop .item ul {
    display: none;
    position: absolute;
    top: 100%;
    background: #fff;
    left: -200px;
    right: 0;
    z-index: 1;
    border-top: 1px solid #ddd;
}
.notification-drop .item ul li {
    font-size: 16px;
    padding: 15px 0 15px 25px;
}
.notification-drop .item ul li:hover {
    background: rgba(0, 0, 0, 0.493);
    color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 500px) {
    .notification-drop {
        display: flex;
        justify-content: flex-end;
}
    .notification-drop .item {
        border: none;
    }
}

.notification-bell{
font-size: 20px;
}

.hybridBtn{
  width: 90%;
  height: auto;
  margin: 10px;
  justify-content: center;
  display: block;
  color: #fff;
  background: #0d4d12;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}
.hybridBtn:hover{
  background: #52b844;
}

.btn__badge {
    background: #FF5D5D;
    color: white;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0px;
    padding:  3px 10px;
    border-radius: 50%;
}

.pulse-button {
box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
    -webkit-animation: pulse 1.5s infinite;
}

.pulse-button:hover {
    -webkit-animation: none;
}

@-webkit-keyframes pulse {
0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(255, 0, 0, 0);
}
100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

.notification-text{
    font-size: 14px;
    font-weight: bold;
}

.notification-text span{
    float: right;
}


.page-content {
  max-width: 30rem;
  margin: 10rem auto 0;
  color: #ddd;
  text-align: left;
}

.form {
  width: 100%;
  max-width: 30rem;
  padding: 1.5rem;
  border-radius: 10px;
  background: linear-gradient(to bottom, #18290c, #3d632b, #2a3e24);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 13px 27px -5px, rgba(0, 0, 0, 0.7) 0px 8px 16px -8px;
  color: #eee;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
}
.popup--show .form {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
.form h2 {
  text-align: center;
}

.popup {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden auto;
}
.popup--show {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.popup__inner {
  width: inherit;
  height: inherit;
}
.popup__container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  min-height: 85%;
}
.popup__content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.popup__close {
  text-align: right;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.popup-close {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}
.popup-close:hover {
  opacity: 1;
}

.popup-active {
  overflow: hidden;
}
@media (any-hover: hover) {
  .popup-active {
    padding-right: var(--scroll-width);
  }
}
/*PopUp End*/
</style>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="../../static/assets/img/favicon.ico" />
    <link rel="stylesheet" href="../../static/app.css" />
    <script defer src="../../static/alpine.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../../static/assets/img/apple-icon.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <title>Dashboard | Faculty</title>
  </head>
  <body class="text-blueGray-700 antialiased">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <nav
        class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
      >
        <div
          class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
        >
          <button
            class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
            type="button"
            onclick="toggleNavbar('example-collapse-sidebar')"
          >
            <i class="fas fa-bars"></i></button
          >
          <a
            class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
            href="javascript:void(0)"
          >
            Faculty Dashboard
          </a>
          <ul class="md:hidden items-center flex flex-wrap list-none">
            <li class="inline-block relative">
              <a
                class="text-blueGray-500 block py-1 px-3"
                onclick="openDropdown(event,'notification-dropdown')"
                ><i class="fas fa-bell"></i
              ></a>
              <div
                class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1"
                style="min-width: 12rem;"
                id="notification-dropdown"
              >
                <a
                class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                href="/cs_profile"
                >Profile</a
                ><a
                class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                data-popup-open="popupID"
                >Change Desired Career</a
                >
                <div class="h-0 my-2 border border-solid border-blueGray-100"></div>
                <a
                class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                href="/logout"
                >Logout</a
                >
              </div>
            </li>
            <li class="inline-block relative">
              <a
                class="text-blueGray-500 block"
                onclick="openDropdown(event,'user-responsive-dropdown')"
                ><div class="items-center flex">
                  <span
                    class="w-12 h-12 text-sm text-white bg-blueGray-200 inline-flex items-center justify-center rounded-full"
                    ><img
                      alt="..."
                      class="w-full rounded-full align-middle border-none shadow-lg"
                      src="/static/images/{{auth_user.img}}"
                  /></span></div
              ></a>
              <div
                class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1"
                style="min-width: 12rem;"
                id="user-responsive-dropdown"
              >
                <a
                  class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                  href="/cs_profile"
                  >Profile</a
                ><a
                  class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                  data-popup-open="popupID"
                  >Change Desired Career</a
                >
                <div class="h-0 my-2 border border-solid border-blueGray-100"></div>
                <a
                  class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                  href="/logout"
                  >Logout</a
                >
              </div>
            </li>
          </ul>
          <div
            class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded hidden"
            id="example-collapse-sidebar"
          >
            <div
              class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200"
            >
              <div class="flex flex-wrap">
                <div class="w-6/12">
                  <a
                    class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
                    href="javascript:void(0)"
                  >
                    Faculty Dashboard
                  </a>
                </div>
                <div class="w-6/12 flex justify-end">
                  <button
                    type="button"
                    class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
                    onclick="toggleNavbar('example-collapse-sidebar')"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </div>
              <ul class="md:flex-col md:min-w-full flex flex-col list-none">
                <li class="items-center">
                  <a
                    class="text-pink-500 hover:text-pink-600 text-xs uppercase py-3 font-bold block"
                    href="#/dashboard"
                    ><i class="fas fa-tv opacity-75 mr-2 text-sm"></i>
                    Statistics</a
                  >
                </li>
                <li class="items-center">
                  <a
                    class="text-blueGray-700 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block"
                    href="/faculty_student_view"
                    ><i class="fab fa-hubspot text-blueGray-400 mr-2 text-sm"></i>
                    Predictions</a
                  >
                </li>
                <li class="items-center">
                  <a
                    class="text-blueGray-700 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block"
                    href="/register_faculty"
                    ><i
                      class="fas fa-user-plus text-blueGray-400 mr-2 text-sm"
                    ></i>
                    Register Faculty</a
                  >
                </li>
                <li class="items-center">
                  <a
                    class="text-blueGray-700 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block"
                    href="#/profile"
                    ><i class="fas fa-users text-blueGray-400 mr-2 text-sm"></i>
                    Faculty Lists</a
                  >
                </li>
                <li class="items-center">
                  <a
                    class="text-blueGray-700 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block"
                    href="/logout"
                    ><i class="fas fa-sign-out-alt text-blueGray-400 mr-2 text-sm"></i>
                    Sign Out</a
                  >
                </li>
              </ul>
            <hr class="my-4 md:min-w-full" />
          </div>
        </div>
      </nav>
      <div class="relative md:ml-64 bg-blueGray-50">
        <nav
          class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4"
        >
          <div
            class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4"
          >
            <a
              class="text-white text-sm uppercase hidden lg:inline-block font-semibold"
              href="./index.html"
              >Data Statistics</a
            >
            <form
              class="md:flex hidden flex-row flex-wrap items-center lg:ml-auto mr-3"
            >
              <div class="relative flex w-full flex-wrap items-stretch">
                <ul class="notification-drop">
                  <li class="item mt-6">
                    <i class="fa fa-bell" aria-hidden="true" style="color: white;"></i> <span class="btn__badge pulse-button ">{{ count_unapprove }}</span>     
                    <ul style="background-color: #000000d0; border-radius: 5px; overflow:scroll; height:250px; width: auto; overflow-y: auto; overflow-x: hidden;">
                      {% if unapprove_account %}
                        {% for unapprove in unapprove_account %}
                            <li style="font-size: small; color: white; text-align: left; ">
                              {{ unapprove.first_name }}
                              {{ unapprove.middle_name }}
                              {{ unapprove.last_name }}
                              <div style="display: block">{{ unapprove.department }}</div>
                              <div style="display: block">{{ unapprove.contact_number }}</div>
                              <div style="display: inline-block">
                                <form action="/approve_account" method="POST">
                                  <input type="hidden" name="user_id" value="{{ unapprove.id }}">
                                  <input type="hidden" name="user_email" value="{{ unapprove.email }}">
                                  <input type="hidden" name="user_department" value="{{ unapprove.department }}">
                                  <input type="hidden" name="approve_flag" value="1">
                                  <button class="hybridBtn" type="submit"> Approve </button>
                                </form>
                              </div>
                              <div style="display: inline-block">
                                <form action="/approve_account" method="POST">
                                  <input type="hidden" name="user_id" value="{{ unapprove.id }}">
                                  <input type="hidden" name="user_email" value="{{ unapprove.email }}">
                                  <input type="hidden" name="user_department" value="{{ unapprove.department }}">
                                  <input type="hidden" name="approve_flag" value="0">
                                  <button class="hybridBtn" type="submit"> Disapprove </button>
                                </form>
                              </div>
                          </li>
                        {% endfor %}
                      {% endif %}
                    </li>
                </ul>
              </div>
            </form>
            <ul
              class="flex-col md:flex-row list-none items-center hidden md:flex"
            >
              <a class="text-blueGray-500 block" href="#pablo" onclick="openDropdown(event,'user-dropdown')">
                <div class="items-center flex">
                  <span
                    class="w-12 h-12 text-sm text-white bg-blueGray-200 inline-flex items-center justify-center rounded-full"
                    ><img
                      alt="..."
                      class="w-full rounded-full align-middle border-none shadow-lg"
                      src="../../static/assets/img/team-1-800x800.jpg"
                  /></span>
                </div>
              </a>
              <div
                class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1"
                style="min-width: 12rem;"
                id="user-dropdown"
              >
                <a
                  href="#p"
                  class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                  >Action</a
                ><a
                  href="#pablo"
                  class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                  >Another action</a
                ><a
                  href="#pablo"
                  class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                  >Something else here</a
                >
                <div class="h-0 my-2 border border-solid border-blueGray-100"></div>
                <a
                  href="#pablo"
                  class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                  >Seprated link</a
                >
              </div>
            </ul>
          </div>
        </nav>
        <!-- Header -->
        
        <div class="relative bg-pink-600 md:pt-32 pb-32 pt-12"
            style="background-image: url(../../static/assets/img/register_bg_2.png); background-size: 100%; background-repeat: no-repeat;">
          <div class="px-4 md:px-10 mx-auto w-full">
            <div>
              <!-- Card stats -->
              <div class="flex flex-wrap">
                <div class="w-full lg:w-12/12 xl:w-4/12 px-4">
                  <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                    <div class="flex-auto p-4">
                      <div class="flex flex-wrap">
                        <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                          <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                            Number of Registered Students
                          </h5>
                          <span class="font-semibold text-xl text-blueGray-700">
                            {{ registered_students }}
                          </span>
                        </div>
                        <div class="relative w-auto pl-4 flex-initial">
                          <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-red-500">
                            <i class="fas fa-users"></i>
                          </div>
                        </div>
                      </div>
                        <p class="text-sm text-blueGray-400 mt-4">
                        <span class="text-emerald-500 mr-2">
                          <i class="fas fa-arrow-up"></i> 3.48%
                        </span>
                        <span class="whitespace-nowrap">
                          Since last month
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="w-full lg:w-12/12 xl:w-4/12 px-4">
                  <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                    <div class="flex-auto p-4">
                      <div class="flex flex-wrap">
                        <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                          <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                            Overall Students Prediction
                          </h5>
                          <span class="font-semibold text-xl text-blueGray-700">
                            {{ overall_studs_top_1_prediction }}
                          </span>
                        </div>
                        <div class="relative w-auto pl-4 flex-initial">
                          <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-orange-500">
                            <i class="fab fa-hubspot"></i>
                          </div>
                        </div>
                      </div>
                      <p class="text-sm text-blueGray-400 mt-4">
                        <span class="text-red-500 mr-2">
                          <i class="fas fa-arrow-down"></i> 3.48%
                        </span>
                        <span class="whitespace-nowrap">
                          Since last week
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="w-full lg:w-12/12 xl:w-4/12 px-4">
                  <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                    <div class="flex-auto p-4">
                      <div class="flex flex-wrap">
                        <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                          <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                            Number of Predictions That Match Students Desired Career
                          </h5>
                          <span class="font-semibold text-xl text-blueGray-700">
                            {{ no_studs_met_their_desired_career }}
                          </span>
                        </div>
                        <div class="relative w-auto pl-4 flex-initial">
                          <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-pink-500">
                            <i class="far fa-chart-bar"></i>
                          </div>
                        </div>
                      </div>
                      <p class="text-sm text-blueGray-400 mt-4">
                        <span class="text-orange-500 mr-2">
                          <i class="fas fa-arrow-down"></i> 1.10%
                        </span>
                        <span class="whitespace-nowrap">
                          Since yesterday
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="z-10">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'success_deletion' %}
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <div style="padding: 2%; color: rgb(27, 202, 27); font-size: 25px; font-weight: 700">
                                            <center>
                                                {{ message }}
                                            </center>
                                            <script>
                                                window.setTimeout(function () {
                                                    window.location.reload();
                                                  }, 10000);
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif category == 'error' %}
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <div style="padding: 2%; color: red; font-size: 25px; font-weight: 700">
                                            <center>
                                                {{ message }}
                                            </center>
                                            <script>
                                                window.setTimeout(function () {
                                                    window.location.reload();
                                                }, 3000);
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif category == 'info' %}
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <div style="padding: 2%; color: green; font-size: 25px; font-weight: 700">
                                            <center>
                                                {{ message }}
                                            </center>
                                            <script>
                                                window.setTimeout(function () {
                                                    window.location.reload();
                                                }, 3000);
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif category == 'upload_successfully' %}
                          <div class="">
                              <div class="">
                                  <div class="">
                                      <div style="padding: 2%; color: green; font-size: 25px; font-weight: 700">
                                          <center>
                                              {{ message }}
                                          </center>
                                          <script>
                                              window.setTimeout(function () {
                                                  window.location.reload();
                                              }, 3000);
                                          </script>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        {% elif category == 'error' %}
                          <div class="">
                              <div class="">
                                  <div class="">
                                      <div style="padding: 2%; color: red; font-size: 25px; font-weight: 700">
                                          <center>
                                              {{ message }}
                                          </center>
                                          <script>
                                              window.setTimeout(function () {
                                                  window.location.reload();
                                              }, 3000);
                                          </script>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
          </div>
        </div>

        <div x-data="faculty_end" x-init="display_graph(), merge_two_charts()">
          <div class="px-4 md:px-10 mx-auto w-full -m-24">
            <div class="flex flex-wrap">
              <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
                <div
                  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-blueGray-800"
                >
                  <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
                    <div class="flex flex-wrap items-center">
                      <div class="relative w-full max-w-full flex-grow flex-1">
                        <h6
                          class="uppercase text-blueGray-100 mb-1 text-xs font-semibold"
                        >
                          Overview
                        </h6>
                        <h2 class="text-white text-xl font-semibold">
                          Sales value
                        </h2>
                      </div>
                    </div>
                  </div>
                  <div class="p-4 flex-auto">
                    <div class="relative" style="height:350px">
                      <canvas id="merge_chart" class="h-full w-auto"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-wrap">
              <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
                <div
                  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-blueGray-800"
                >
                  <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
                    <div class="flex flex-wrap items-center">
                      <div class="relative w-full max-w-full flex-grow flex-1">
                        <h6
                          class="uppercase text-blueGray-100 mb-1 text-xs font-semibold"
                        >
                          Overview
                        </h6>
                        <h2 class="text-white text-xl font-semibold">
                          Sales value
                        </h2>
                      </div>
                    </div>
                  </div>
                  <div class="p-10 flex-auto">
                    <div class="w-auto lg:mt-0 relative">
                      <canvas id="main_pie" x-ref="pie_main" class="h-full w-1/3"></canvas>
                      <button type="button" class="absolute top-0 mt-7 -ml-3 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-1 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                        x-on:click="refresh_pie">
                        Refresh
                      </button>
                    </div>
                    <div class="-m-1.5 overflow-x-auto"  x-show="show_names">
                      <div class="p-1.5 min-w-full inline-block align-middle">
                        <div class="border rounded-lg shadow overflow-hidden dark:border-white dark:shadow-white shadow-lg rounded bg-blueGray-800">
                            <table class="min-w-full divide-y divide-white dark:divide-white">
                              <thead style="display: block;">
                                <tr class="divide-x divide-white dark:divide-white">
                                  <th scope="col" class="px-6 py-4 text-center text-xs font-medium text-white uppercase">Full Name</th>
                                  <th scope="col" class="px-6 py-4 text-center text-xs font-medium text-white uppercase">Desired Career</th>
                                  <th scope="col" class="px-6 py-4 text-center text-xs font-medium text-white uppercase">Top 1 Prediction</th>
                                </tr>
                              </thead>
                              <tbody class="divide-y divide-white dark:divide-white">
                                <template class="divide-y divide-white dark:divide-white" x-if="list_of_names">
                                  <template class="divide-y divide-white dark:divide-white" x-for="name_record in list_of_names">
                                    <tr>
                                      <td>
                                        <span class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white dark:text-white" x-text="name_record.fullname"></span>
                                      </td>
                                      <td>
                                        <span class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white dark:text-white" x-text="name_record.desired_career"></span>
                                      </td>
                                      <td>
                                        <span class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white dark:text-white" x-text="name_record.main_rank"></span>
                                      </td>
                                    </tr>
                                  </template>
                                </template>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <footer class="block py-20">
            <div class="container mx-auto px-4">
              <hr class="mb-4 border-b-1 border-blueGray-200" />
              <div class="flex flex-wrap items-center md:justify-between justify-center">
                <div class="w-full md:w-4/12 px-4">
                  <div class="text-sm text-blueGray-500 font-semibold py-1">
                    Copyright © <span id="javascript-date"></span>
                    <a
                      href="https://www.creative-tim.com"
                      class="text-blueGray-500 hover:text-blueGray-700 text-sm font-semibold py-1"
                    >
                      Creative Tim
                    </a>
                  </div>
                </div>
                <div class="w-full md:w-8/12 px-4">
                  <ul class="flex flex-wrap list-none md:justify-end  justify-center">
                    <li>
                      <a
                        href="https://www.creative-tim.com"
                        class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3"
                      >
                        Creative Tim
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://www.creative-tim.com/presentation"
                        class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3"
                      >
                        About Us
                      </a>
                    </li>
                    <li>
                      <a
                        href="http://blog.creative-tim.com"
                        class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3"
                      >
                        Blog
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://github.com/creativetimofficial/tailwind-starter-kit/blob/main/LICENSE.md"
                        class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3"
                      >
                        MIT License
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>

    <script>
      /* Sidebar - Side navigation menu on mobile/responsive mode */
      function toggleNavbar(collapseID) {
        document.getElementById(collapseID).classList.toggle("hidden");
        document.getElementById(collapseID).classList.toggle("bg-white");
        document.getElementById(collapseID).classList.toggle("m-2");
        document.getElementById(collapseID).classList.toggle("py-3");
        document.getElementById(collapseID).classList.toggle("px-6");
      }
      /* Function for dropdowns */
      function openDropdown(event, dropdownID) {
        let element = event.target;
        while (element.nodeName !== "A") {
          element = element.parentNode;
        }
        var popper = Popper.createPopper(element, document.getElementById(dropdownID), {
          placement: "bottom-end"
        });
        document.getElementById(dropdownID).classList.toggle("hidden");
        document.getElementById(dropdownID).classList.toggle("block");
      }
      
      $(document).ready(function() {
        $(".notification-drop .item").on('click',function() {
          $(this).find('ul').toggle();
        });
      });
    // Modal
            // Get the modal
      var modal = document.getElementById("myModal");

          // Get the button that opens the modal
      var btn = document.getElementById("myBtn");

          // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

          // When the user clicks on the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
        }

          // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
      charset="utf-8"
    ></script> -->
    
      <!-- <script src="../../static/alpine.js"></script> -->
    <script>
    let counter = 0;
    let main_pie = null;
    let mixedChart = null;
    let dept = null;
    let stat = null;
    let sex = null;

    it_students = JSON.parse({{ it_students | tojson}})
    cs_students = JSON.parse({{ cs_students | tojson}})
    first_SE = JSON.parse({{ first_SE | tojson}})
    first_TSS = JSON.parse({{ first_TSS | tojson}})
    first_A = JSON.parse({{ first_A | tojson}})
    first_AA = JSON.parse({{ first_AA | tojson}})
    software_engineer_programmer = JSON.parse({{ software_engineer_programmer  | tojson}})
    technical_support_specialist = JSON.parse({{ technical_support_specialist  | tojson}})
    academician = JSON.parse({{ academician  | tojson}})
    administrative_assistant = JSON.parse({{ administrative_assistant  | tojson}})
    male = JSON.parse({{ male  | tojson}})
    female = JSON.parse({{ female  | tojson}})
    shiftee = JSON.parse({{ shiftee  | tojson}})
    transferee = JSON.parse({{ transferee  | tojson}})
    regular = JSON.parse({{ regular  | tojson}})

    document.addEventListener('alpine:init', () => {
        Alpine.data('faculty_end', () => ({
        'canvas_id': 0,
        'show_names': false,
        'list_of_names': [],
        generate_id(){
            this.canvas_id = '_'+counter.toString();
            return (this.canvas_id.toString());
        },
        display_graph(default_labels = ['Computer Science', 'Information Technology'], default_data = [cs_students, it_students]){
            if(main_pie!=null){
            main_pie.destroy();
            }

            var cht = document.getElementById(this.$refs.pie_main.id).getContext('2d');
            main_pie = new Chart(cht, {
            type: 'pie',
            data: {
                labels: default_labels,
                datasets: [{
                    label:  ["# of Students"],
                    backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68', '#B276B2', '#E16851', '#FB8267'],
                    borderColor: 'rgba(154, 241, 140)',
                    color: "white",
                    data: default_data,
                    borderWidth: 1.5,
                    tension: 0.3,
                    fill: true,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                onClick: (e, activeEls) => {
                let datasetIndex = activeEls[0].datasetIndex;
                let dataIndex = activeEls[0].index;
                let datasetLabel = e.chart.data.datasets[datasetIndex].label;
                let value = e.chart.data.datasets[datasetIndex].data[dataIndex];
                let label = e.chart.data.labels[dataIndex];
                counter++;
                this.expand_data(label);
                },
                title: {
                    display: true,
                    text: 'Item Something'
                },
                plugins: {
                tooltip: true,
                    legend: {
                    display: true,
                    labels: {
                        color: 'white'
                    }
                    },
                },
                hover: {
                    mode: 'index',
                    intersect: true
                }
            }
            });
        },
        async expand_data(_val){
            let default_labels = null;
            let default_data = null;
            if(_val.toLowerCase() == 'Information Technology'.toLowerCase() || _val.toLowerCase() == 'Computer Science'.toLowerCase()){
            let form = new FormData;
            
            if(_val.toLowerCase() == 'Information Technology'.toLowerCase()){
                dept = _val;
                form.append('department', dept);
                await axios.post('/change_data_status', form)
                .then((response) => {
                default_labels = Object.keys(response.data);
                default_data = Object.values(response.data);
                },
                (error) => {
                console.log(error);
                });
            }
            else if(_val.toLowerCase() == 'Computer Science'.toLowerCase()){
                dept = _val;
                form.append('department', dept);
                await axios.post('/change_data_status', form)
                .then((response) => {
                default_labels = Object.keys(response.data);
                default_data = Object.values(response.data);
                },
                (error) => {
                console.log(error);
                });
            }
            }
            else if(_val.toLowerCase() == 'Shiftee'.toLowerCase() || _val.toLowerCase() == 'Transferee'.toLowerCase() || _val.toLowerCase() == 'Regular'.toLowerCase()){
            stat = _val;

            let form = new FormData;
            form.append('department', dept);
            form.append('status', stat);
            await axios.post('/change_data_sex', form)
            .then((response) => {
                default_labels = Object.keys(response.data);
                default_data = Object.values(response.data);
            },
            (error) => {
                console.log(error);
            });
            }
            else if(_val.toLowerCase() == 'Female'.toLowerCase() || _val.toLowerCase() == 'Male'.toLowerCase()){
            sex = _val;
            let form = new FormData;
            form.append('department', dept);
            form.append('status', stat);
            form.append('sex', sex);
            
            await axios.post('/generate_names', form)
            .then((response) => {
                console.log(Object.values(response.data));
                this.list_of_names = Object.values(response.data);
            },
            (error) => {
                console.log(error);
            });

            this.show_names = true;
            }
            
            if(_val != 'Female' && _val != 'Male'){
            this.display_graph(default_labels, default_data);
            }
        },
        refresh_pie(){
            this.show_names = false;
            this.display_graph(default_labels = ['Computer Science', 'Information Technology'], default_data = [cs_students, it_students])
        },
        merge_two_charts(){
            let ctx = document.getElementById('merge_chart').getContext('2d');
            mixedChart = new Chart(ctx, {
            data: {
                datasets: [{
                    type: 'line',
                    label: 'Students Desired Careers',
                    data: [software_engineer_programmer, technical_support_specialist, academician, administrative_assistant]
                }, {
                    type: 'line',
                    label: 'Students Top 1 Predictions',
                    data: [first_SE, first_TSS, first_A, first_AA],
                }],
                labels: ['Software Engineer Programmer', 'Technical Support Specialist', 'Academician', 'Administrative Assistant']
            },
            options: {
                scale: {
                ticks: {
                    precision: 0
                  }
                },
                responsive: true,
                maintainAspectRatio: false,
              }
            });
            
        }
        
        }));
    });
    </script>
    
  </body>
</html>
